node_modules
.DS_Store
dist
dist-ssr
*.local
.idea
pnpm-lock.yaml
smartmontools.md
zsh_history.md
/*.md
/package-lock.json
origin_theme.css
.vitepress/cache
/docs/.vitepress/cache/deps/chunk-E7E7AXPA.js
/docs/.vitepress/cache/deps/chunk-E7E7AXPA.js.map
/docs/.vitepress/cache/deps/chunk-P2LSHJDD.js
/docs/.vitepress/cache/deps/chunk-P2LSHJDD.js.map
/docs/.vitepress/cache/deps/chunk-SS64BRQH.js
/docs/.vitepress/cache/deps/chunk-SS64BRQH.js.map
/docs/.vitepress/cache/deps/chunk-ZDT2FX2F.js
/docs/.vitepress/cache/deps/chunk-ZDT2FX2F.js.map
/docs/.vitepress/cache/deps/vue-demi.js
/docs/.vitepress/cache/deps/vue-demi.js.map
